.bear__wrapper {
  position: absolute;
  width: 240px;   
  translate: calc(var(1, 0) * -20%) 50%;
  transition: translate var(--step) var(--step);
}

.bear {
  overflow: visible;
  width: 100%;
  transition: transform var(--step);
  transform:
    translateY(calc((0 - (var(--show-bear, 0) * 100)) * 1%))
    rotate(calc(var(--password-focus, 0) * -15deg))
    translate(calc(var(--password-focus, 0) * -5%), calc(var(--password-focus, 0) * 5%));
}

.bear__body {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.bear__eyes-normal {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: blink 6s -2s infinite;
}

.bear__eyes-normal {
  opacity: calc(1 - var(--show-cross, 0));
}

.bear__eyes-crossed {
  opacity: var(--show-cross, 0);
}

.bear__arm {
  transform-box: fill-box;
  transform-origin: 5% 50%;
  translate: calc((-12 + (var(--reveal, 0) * -16)) * 1%) calc((50 - (var(--password-focus, 0) * 62)) * 1%);
  rotate: calc(var(--password-focus, 0) * -12deg);
  transition: translate var(--step), rotate var(--step);
}

.bear__arms {
  display: none;
  transform-box: fill-box;
  transform-origin: 50%;
  opacity: var(--show-valid, 0);
  animation: pump 0.25s 4 both;
  translate: 0 60%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.form-group {
  display: grid;
  gap: 0.25rem;
}

.material-symbols-outlined {
  font-variation-settings: 'weight' 600;
}

/* Arm stuff */
.indicator-arm { 
  display: none; 
  overflow: visible;
  width: 91px;
  position: absolute;
  left: 90%;  
  translate: -60% -50%;
  z-index: 2;
}
.indicator-arm__claws {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  translate: calc((110 - (var(--show-paw, 0) * 110)) * 1%) 0;
  transition: translate var(--step);
}
.indicator-arm__paw {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  translate: calc((-50 + (var(--show-paw, 0) * 50)) * 1%) 0;
  transition: translate var(--step) var(--step);
}

/* form:focus-within .indicator-arm {
  display: block;
  left: 100%;
} */



form:focus-within .indicator-arm__claws {
  transition: translate var(--step) var(--step);
}
form:focus-within .indicator-arm__paw {
  transition: translate var(--step);
}



@keyframes blink {
  0%, 46%, 48%, 50%, 100% {
    scale: 1 1;
  }
  47%, 49% {
    scale: 1 0.01;
  }
}



@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  } 
  20%, 40%, 60%, 80% {
    transform: translateX(-2%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(2%);
  }
}







@keyframes pump {
  50% {
    translate: 0 -20%;
  }
}

 
